.chatboticon{
    width: 70px;
    height: 70px;
    top: 1700px;
    left: 1320px;
    position: sticky
  }
  .chat-bot-icon-parent{
       bottom: 35px; 
       right: 30px; 
       position:fixed;
       
    }
.chat-window{
    background:#fff;
    width: 350px;
    height: 62vh;
    min-height: 400px;
    position: fixed;
    right: 30px;
    bottom: 110px;
    box-sizing: border-box;
    box-shadow: 0 2px 8px 2px #111;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius:6px;
    
}
.header{
    display: flex;
    color: white;
    text-transform: uppercase;
    align-items: center;
    padding-top:0;
    padding-left: 12px;
    border-bottom:2px solid orange;
    display: flex;
    background-color: #1c4fc3;
    justify-content: center
}
.chat-bot-header-logo{
    max-height: 20px;
    border:1px solid orange;
    padding:3px

}
.chat-bot-header-text{
    font-size:20px;
    margin-left:10px;
    font-weight: bold;
    font-family: Helvetica, sans-serif
}

.brand-reference-div{
        padding:4px;
        background-color:rgb(28, 79, 195);
        color:white;
        font-size:16px;
        letter-spacing:1px;
        text-align:right;
        border-radius:2px;
}
.brand-rederence-div .chatInput{
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
}
.message-body{
    overflow-y: scroll;
   
    
}
.message-body::-webkit-scrollbar {
    display: none;
}
.chatInput{
   width:100%;
   
}
.end-div input{
    box-sizing:border-box;
    margin:0;
    font-size:1rem;
    padding-left:1%;
  border-radius: 5px;
    padding-top:5px;
    padding-bottom: 5px;
    width:100%;
    
    border:none;
    
}
.end-div input:focus{
    outline: none;
}
